/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */
@import '_h5bp';

/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */
@import 'components/components';

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background-color: #fff;
  box-sizing: border-box;
  min-height: 100%;
}

body.open {
  overflow: hidden;
}

.app-bar {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $mainColor;
  overflow: hidden;
  z-index: 1;
}

.app-bar-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  position: relative;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
}

.app-bar.open,
.app-bar.open ~ main {
  -webkit-transform: translate(250px, 0);
          transform: translate(250px, 0);
}

.app-bar .logo {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 2em;
  line-height: 60px;
  margin: 0 16px;
  padding: 0;
  color: #fefefe;
  float: none;
  max-width: none;
  font-weight: 300;
  display: initial;
}

.app-bar .logo a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

.app-bar-actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 2;
}

.app-bar button {
  width: 60px;
  height: 60px;
  background-image: none;
  background-color: transparent;
  border: none;
  padding: 0;
  display: inline-block;
  -webkit-transition: background-color 0.2s ease-out;
          transition: background-color 0.2s ease-out;
  -webkit-tap-highlight-color: transparent;
}

.app-bar button img {
  height: 24px;
  width: 24px;
}

.app-bar button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.app-bar button:focus {
  background-color: rgba(255, 255, 255, 0.2);
  outline: 0;
}

.app-bar button:active {
  background-color: rgba(255, 255, 255, 0.4);
}

.promote-layer {
  /*
  This may promote the layer to a composited
  layer.

  Replace with will-change when available

  #perfmatters
  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.base,
p,
ul,
ol {
  font-size: 19px;
}

.navdrawer-container {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  -webkit-transform: translate(-250px, 0);
          transform: translate(-250px, 0);
}


.navdrawer-container.open {
height:100% !important;
z-index:99;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.navdrawer-container.opened{
height:100% !important;
z-index:99;
background:#ba0422;
  
}
.app-bar,
.navdrawer-container.opened,
main {
  -webkit-transition: -webkit-transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
}

.navdrawer-container h4,
.navdrawer-container ul li a {
  height: 60px;
  padding: 17px 20px;
  line-height: 1.4;
}

.navdrawer-container h4 {
  background-color: white;
  color: #ba0422;
  text-align: center;
  font-size: larger;
}

.navdrawer-container ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}


.navdrawer-container ul li a {
  display: block;
  text-decoration: none;
  color: white;
  -webkit-transition: background-color 0.2s ease-out;
          transition: background-color 0.2s ease-out;
  white-space: nowrap;
}

.navdrawer-container ul li {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: white;
  padding: 0;
}

.navdrawer-container ul li::before {
  content: none;
}

.navdrawer-container ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navdrawer-container ul li a:focus {
  background-color: rgba(255, 255, 255, 0.3);
  outline: 0;
}

.navdrawer-container ul li a:active {
  background-color: rgba(255, 255, 255, 0.4);
}


.container-logo{
  color: #fefefe;
  overflow:hidden;
  background-size: cover;
  max-height:500px;
  margin-top:59px;
  background-size:100% 100%;


}
.outer-logo{
  position:fixed;
  left:120px;
  top:-80px;
  z-index:99;
  transform:scale(0.35);  
}

.mena-logo{
  width:150px;
  height:150px;
  position:absolute;
-webkit-animation: spin 15s linear infinite;
-moz-animation: spin 15s linear infinite;
-o-animation:spin 15s linear infinite;
-ms-animation: spin 15s linear infinite;
animation: spin 15s linear infinite;

}
.mena-logo img{
  width:150px;
  height:150px;
}
.logo-section{
  display:block;
  width:100%;
  height:400px;
  margin:0 auto;
  text-align:center; 
  position:relative;
  padding-top:100px
}

.logo-section .logo{
  border:1px solid transparent; 
  height:134px; 
  padding-left:22%;
}

.grey{ 
 -webkit-animation: spin2 15s linear infinite;
-moz-animation: spin2 15s linear infinite;
-o-animation:spin2 15s linear infinite;
-ms-animation: spin 15s linear infinite;
animation: spin2 15s linear infinite;

}

.red{
  stroke-width:18;
  stroke-dasharray:2;
  stroke-dashoffset:2;
  }

/* start spin animation */
@-webkit-keyframes spin{
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin{
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes spin{
  100% {
    -o-transform: rotate(360deg);
  }
}
@-ms-keyframes spin{
  100% {
    -ms-transform: rotate(360deg);
  }
}
@keyframes spin{
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin2{
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@-moz-keyframes spin2{
  100% {
    -moz-transform: rotate(-360deg);
  }
}
@-o-keyframes spin2{
  100% {
    -o-transform: rotate(-360deg);
  }
}
@-ms-keyframes spin2{
  100% {
    -ms-transform: rotate(-360deg);
  }
}
@keyframes spin2{
  100% {
    transform: rotate(-360deg);
  }
}

main {
  margin: 0 auto;
  /* Height of the header */
  padding: 60px 16px 16px 16px;
  min-height: 100%;
}


bdi{
  color:$mainColor;
}

.whoweare h1,
.history h1,
.news-events h1,
.contactus h1{
  line-height:2em;
  border-bottom:1px solid $mainColor;
}

.misson {
  position:relative;
}

main .txt p{
  font-size: 15px;
  text-align: justify;
}


.number{
@include rule--xlarge;
 float:left;
 padding-right:20px; 
 clear:both;
}

footer{
  margin:1em auto 0;
  clear:both;
  padding: 2em 0 3em;
  .logo{
    border-top:1px solid $mainColor;
    padding-top:2em;
    text-align:center;
      img{
      width:100px;
      }
  }

}

#skrollr-body{
margin-top:0;   
}

.download-icon{
  width:25px;
  float:right;
} 
.trnas-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  }

 .copyrights{
    font-size: 11px;
 } 
 .margintop{
 margin-top:25px;
 }
 .news .number.image img.small-icon{
 width:65px;

 }
 .news.databases .intro h5{
  float:right;
  width:90%;
 }
 .news.databases .image{
   padding-top:0;
    margin-top:0;
 }
///////////////FORM//////////////////////

$base: $mainColor;
$text: #555;
$invalid: #E91E63;
$width: 100%;
$cubic: cubic-bezier(.64,.09,.08,1);


form {
  
  color: $text;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font: inherit;
  transition: transform 0.3s ease-in-out,
    font-size 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
}

input,
textarea {
  font: inherit;
  font-size: 1.1em;
  margin: 25px 0;
  width: $width;
  border: none;
  padding: 20px 0 10px;
  border-bottom: solid 1px $base;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $base 4%);
  background-position: -400px 0;
  background-size: 400px 100%;
  background-repeat: no-repeat;
  transition: background 0.3s $cubic;
  resize: none;
  overflow: hidden; 
  &:focus::-webkit-input-placeholder {
    color: $base;
  }  
  &:focus, 
  &:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
    &::-webkit-input-placeholder {
      font-size: 0.8em;
      transform: translateY(-20px);
      visibility: visible !important;
      opacity: 1;
    }
  }  
}

input[type="email"] {
  background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $base 4%);
  background-position: -400px 0;
  background-repeat: no-repeat;
  transition: border-bottom 0.3s ease, background 0.3s ease;
  &~span.validation-text {
    position: absolute;
    visibility: hidden;
    font-family: 'roboto', sans-serif;
    font-size: 0.6em;
    width: $width;
    margin-top:-30px;
    color: white;
    transition: color 0.3s ease-in-out;
  }
  &:not([value=""]) {
    &::-webkit-input-placeholder {
      font-size: 0.8em;
      transform: translateY(-20px);
      visibility: visible !important;
      opacity: 1;
    }
    &:focus::-webkit-input-placeholder {
      color: $base;
    }
    &:focus:not(:valid)::-webkit-input-placeholder {
      color: $invalid;
    }
  }
  &:focus {
    background-position: 0 0;
    &:not(:valid):not([value=""]) {
      border-bottom: solid 1px $invalid;
      background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $invalid 4%);
    }
  }
  &:not(:focus):not(:valid):not([value=""]) {
    &::-webkit-input-placeholder {
      color: $invalid;
    }
    border-bottom: solid 1px $invalid;
    background-position: 0 0 ;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $invalid 4%);
    &~span.validation-text {
      visibility: visible;
      color: $invalid;
    }
  }
}

.flex {
  display: flex;
  align-items: stretch;
  textarea {
    line-height: 120%;
  }
}

form button {
  font-family: 'roboto', sans-serif;
  transition: transform 0.2s $cubic,
     box-shadow 0.2s $cubic;
  border: none;
  background: $base;
  cursor: pointer;
  border-radius: 3px;
  padding: 15px;
  width: $width;
  color: white;
  margin: 50px auto;
  display:block;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
  &:hover { 
    transform: translateY(-2px);
    box-shadow: 0 5px 6px 0 rgba(0,0,0,0.2);
  }
}

.navdrawer-container  ul ul li a{
  padding-left:10px;
}

.realperson-challenge {
  display: block;
  color: #000;
}
.realperson-text {
  font-family: "Courier New",monospace !important;
  font-size: 6px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 3px;
}
.realperson-regen {
  padding-top: 4px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}
.realperson-disabled {
  opacity: 0.5;
  filter: Alpha(Opacity=50);
}
.realperson-disabled .realperson-regen {
  cursor: default;
}
 .has-menu ul {
  background:$mainColor;
  width:100%;
 }

///////////////FORM//////////////////////
.navdrawer-container  ul{
  z-index:9;
}
.navdrawer-container  ul ul {
  display: none;
  padding-left:0;
}

  nav ul li:hover > ul {
    display: block;
    top:60px;
    position:absolute;
  }

.sprater{
  border-bottom:1px solid $mainColor;
  clear:both;
  padding:20px 0;
}

.members{
  clear:both;
  padding-top:30px;
          h4{
            text-align: center;
            padding-top: 0.6em;
            text-align:center;
          }

    }

.member{
    margin-bottom: 3.7%;
  }

.news-events{
  margin-top :60px; 
}


.arabic,
.arabic p{
  text-align:right !important;
  font-size:17px !important;
  direction:rtl;
}
strong{
  display:block;
  margin:20px 0;
}

.news-img{
  margin:30px auto;
  text-align:center;
  p{
  font-size:15px;
  }
  
}
span{
    @include rule--medium;
  }
.news{
  clear:both;
  .number.image{
      float:none;
      text-align:center;
      img{
        width:165px;
        height:93px;
        }
      }
    .intro{
      padding-top:20px;
      
        a{
          color: #000000;
         text-decoration: none;
        }&:hover{  color: #000000;}
        p{
          padding-top:0;
        }
    }
}



.number.pub-info{
  padding-top:0;
  margin: 20px 0;
  p{
  padding-top:0;
      span{
      display:block;
      padding-top:0;
      font-size:15px;
      text-align:left;
      width:100%;
      }
      strong{
      margin-top:0;
      text-align:left;
      }
  }
  
}
hr{
  clear:both;
  border-width: 1px 0px 0;
  border-style: solid;
  border-color: #eee;
}
.slide{
  text-align:center;
}
.slides-frame{
  margin-top:3em;
  border:none;
  

}

.inline-a,
.inline-a:hover{
  text-decoration:none;
  color:$mainColor;
}

.images-slides img{
  display:block;
  margin:0 auto;
  width:100%;
}
.right{
  float:right;
}
h1.arabic{
 font-size:2em !important; 
}
h1{
  font-size:40px;
  margin-top: 30px;
}
span.inline-en{
  display:inline-block;
  direction:ltr;
  color:inherit;
  font-size:inherit;
  
    
}
/** Larger Screens - desktops and tablets **/
@media all and (min-width: 990px) {

.logo-section{
  display:block;
  width:100%;
  height:300px;
  margin:0 auto;
  text-align:center; 
  position:relative;
  padding-top:200px
}
.number{
  @include rule--xlarge;
}

.outer-logo{
  left:80px;
  top:0;
}
.news .number.image{
      float:left;
      text-align:center;
      }

  .app-bar {
    position: relative;
  }

  .app-bar.open,
  .app-bar.open ~ main {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }

  .app-bar-container {
    display: block;
    height: 0;
    max-width: 864px;
    padding: 0 16px;
    box-sizing: border-box;
    background-color: #9a0b0b;
  }

  .app-bar .logo {
    float: left;
    margin: 0;
    padding: 0;
    line-height: 130px;
    font-size: 46px;
  }

  .app-bar-actions {
    float: right;
  }

  .app-bar::after {
    content: ' ';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }

  button.menu {
    display: none;
  }

  .navdrawer-container {
    position: fixed;
    width: 100%;
    height: 60px;
    margin-top: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: none;
            transition: none;
  }

  .navdrawer-container h4 {
    display: none;
  }

  .navdrawer-container ul {
    position:fixed;
    top:0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    background-color:$mainColor;
    width: 100%;
    max-width: 100%;
    padding-left: 20%;
    left: 0;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .navdrawer-container ul li {
    border: none;
  }
.logo-section .logo{
  padding-left:9%;
}
.logo-section .solgon h3{
  margin-top:50px;
  color:#000;
}

  main {
    max-width: 864px;
    padding-top: 0;
    min-height: initial;
  }

  body {
    overflow-y: scroll;
  }

.h1-top{
  height:30px;
  display:block;
}
.clearfix{
  clear:both;
}
.small-image{
  width:120px;
}

.dropdown li {
  font-size:17px;
}
.add-to-calender{
  font-size:16px;
  color:#444;
  display:block;
}
.add-to-calender:hover{
 color:#444; 
}
.upcomming .number{
  padding-top:0;
}
.donwload-icon{
  width:25px;
  float:right;
}
.list-links{
  padding:0;
  a{
    text-decoration: none;
    color:inherit;
  }
}
.list-links a:hover{
  color:#666;
}
ul.list-links a::before{
  top:4px;
}
ul.list-links.arabic a::before{
  right:0;
  left:auto;
}
ul.list-links.arabic , 
ul.list-links.arabic li{
  padding-right:16px;
}
.special{
  width:125px;
}
.margin40px{
  margin-left:42px;
}
///////////////FORM//////////////////////

$base: $mainColor;
$text: #555;
$invalid: #E91E63;
$width: 400px;
$cubic: cubic-bezier(.64,.09,.08,1);


form {
  
  color: $text;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font: inherit;
  transition: transform 0.3s ease-in-out,
    font-size 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
}

input,
textarea {
  font: inherit;
  font-size: 1.1em;
  margin: 25px 0;
  width: $width;
  border: none;
  padding: 20px 0 10px;
  border-bottom: solid 1px $base;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $base 4%);
  background-position: -$width 0;
  background-size: $width 100%;
  background-repeat: no-repeat;
  transition: background 0.3s $cubic;
  resize: none;
  overflow: hidden; 
  &:focus::-webkit-input-placeholder {
    color: $base;
  }  
  &:focus, 
  &:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
    &::-webkit-input-placeholder {
      font-size: 0.8em;
      transform: translateY(-20px);
      visibility: visible !important;
      opacity: 1;
    }
  }  
}

input[type="email"] {
  background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $base 4%);
  background-position: -400px 0;
  background-repeat: no-repeat;
  transition: border-bottom 0.3s ease, background 0.3s ease;
  &~span.validation-text {
    position: absolute;
    visibility: hidden;
    font-family: 'roboto', sans-serif;
    font-size: 0.6em;
    width: $width;
     margin-top: 100px;
      margin-left: -402px;
    color: white;
    transition: color 0.3s ease-in-out;
  }
  &:not([value=""]) {
    &::-webkit-input-placeholder {
      font-size: 0.8em;
      transform: translateY(-20px);
      visibility: visible !important;
      opacity: 1;
    }
    &:focus::-webkit-input-placeholder {
      color: $base;
    }
    &:focus:not(:valid)::-webkit-input-placeholder {
      color: $invalid;
    }
  }
  &:focus {
    background-position: 0 0;
    &:not(:valid):not([value=""]) {
      border-bottom: solid 1px $invalid;
      background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $invalid 4%);
    }
  }
  &:not(:focus):not(:valid):not([value=""]) {
    &::-webkit-input-placeholder {
      color: $invalid;
    }
    border-bottom: solid 1px $invalid;
    background-position: 0 0 ;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $invalid 4%);
    &~span.validation-text {
      visibility: visible;
      color: $invalid;
    }
  }
}

.flex {
  display: flex;
  align-items: stretch;
  textarea {
    line-height: 120%;
  }
}

form button {
  font-family: 'roboto', sans-serif;
  transition: transform 0.2s $cubic,
     box-shadow 0.2s $cubic;
  border: none;
  background: $base;
  cursor: pointer;
  border-radius: 3px;
  padding: 15px;
  width: $width;
  color: white;
  margin: 50px auto;
  display:block;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
  &:hover { 
    transform: translateY(-2px);
    box-shadow: 0 5px 6px 0 rgba(0,0,0,0.2);
  }
}
.thanks-msg{
  text-align: center;
  color: #ba0422;
}

.arabic .steps li::before{
  right:-40px;
  top:5px;
  
}

.whoweare .intro a img{
  border:1px solid #eee;
}
.marginLeft{
  margin-left:60px;
}
///////////////FORM//////////////////////

}



@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/RobotoCondensed-Light.eot);
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(/fonts/RobotoCondensed-Light.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Light.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/RobotoCondensed-Regular.eot);
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(/fonts/RobotoCondensed-Regular.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/RobotoCondensed-Bold.eot);
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Bold'), url(/fonts/RobotoCondensed-Bold.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  src: url(/fonts/RobotoCondensed-LightItalic.eot);
  src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url(/fonts/RobotoCondensed-LightItalic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-LightItalic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/RobotoCondensed-Italic.eot);
  src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url(/fonts/RobotoCondensed-Italic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Italic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  src: url(/fonts/RobotoCondensed-BoldItalic.eot);
  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url(/fonts/RobotoCondensed-BoldItalic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-BoldItalic.woff) format('woff');
}
